@page "/file/{FileId}"

@using CoreAdminWeb.Model
@using CoreAdminWeb.Shared.Base
@using CoreAdminWeb.Shared.Components
@inherits BlazorCoreBase
@layout MainLayout

<PageHeader Title="Chi tiết file" pTitle="Chi tiết file"></PageHeader>

<div class="relative w-full p-0 my-8 bg-white border rounded-lg border-black/10 dark:bg-darklight dark:border-darkborder">
    <div class="p-5">
        <EditForm Model="@UploadFileCRUD" OnValidSubmit="OnUploadFile">
            <div class="grid sm:grid-cols-1 md:grid-cols-2 mb-2 gap-4 py-4">
               <div class="space-y-2 sm:col-span-1 md:col-span-2">
                   @if(!string.IsNullOrEmpty(UploadFileCRUD.icon_file))
                    {
                      <span class="material-symbols-outlined block" style="position: relative;
                            z-index: 1;
                            display: flex !important;
                            align-items: center;
                            justify-content: center;
                            width: 100%;
                            overflow: hidden;
                            border-radius: 10px;
                            font-size: 48px;
                            border: none;
                            min-height: 100px;">@UploadFileCRUD.icon_file</span>
                    }else
                    {
                        <MudImage Src="@UploadFileCRUD.filename_disk" Class="object-cover" style="position: relative;
                        z-index: 1;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: auto;
                        overflow: hidden;
                        max-height:160px;
                        border-radius: 10px;
                        border:none;" alt=""/>
                    }
                </div>

                <div class="space-y-2 sm:col-span-1 md:col-span-1">
                    <label>Tên file:</label>
                    <input type="text" class="form-input dark:text-white/80 dark:placeholder:text-white/30 dark:border-darkborder dark:bg-dark dark:focus:border-white/30"
                        placeholder="Nhập tên file" 
                        value="@UploadFileCRUD.title" />
                </div>

                <div class="space-y-2 sm:col-span-1 md:col-span-1">
                    <label>Tên file đã tải lên:</label>
                    <input type="text" disabled class="form-input dark:text-white/80 dark:placeholder:text-white/30 dark:border-darkborder dark:bg-dark dark:focus:border-white/30"
                        value="@UploadFileCRUD.filename_disk" />
                </div>

                <div class="flex items-center justify-end gap-2 py-4">
                    <MudButton Class="transition-all duration-300 border btn-crud rounded-md btn text-danger border-danger hover:bg-danger hover:text-white" OnClick="OnBack">Trở về</MudButton>
                    <MudButton Class="transition-all duration-300 border btn-crud rounded-md btn text-purple border-purple hover:bg-purple hover:text-white"
                            OnClick="OnUploadFile">Lưu</MudButton>
                </div>
            </div>
        </EditForm>
    </div>
</div>
    