@page "/admin/phan-loai-suc-khoe"
@using CoreAdminWeb.Commons.Utils
@using CoreAdminWeb.Extensions
@using CoreAdminWeb.Helpers
@using CoreAdminWeb.Model
@using CoreAdminWeb.Services.BaseServices
@using CoreAdminWeb.Shared.Base
@inherits BlazorCoreBase
@layout Shared.Layout.AdminLayout

<PageHeader Title="Phân loại sức khỏe" pTitle="Phân loại sức khỏe"></PageHeader>

<!-- Start All Card -->
<div class="flex flex-col gap-4 min-h-[calc(100vh-212px)]">
    <div class="grid grid-cols-1 gap-4">
        <div class="card">
            @if (IsLoading)
            {
                <div class="flex flex-col items-center justify-center gap-3">
                    <div class="w-full h-4 rounded-full bg-gray-200">
                        <div class="h-4 rounded-full bg-success animate-progress"
                             style="background-image: linear-gradient(45deg,hsla(0,0%,100%,.15) 25%,transparent 0,transparent 50%,hsla(0,0%,100%,.15) 0,hsla(0,0%,100%,.15) 75%,transparent 0,transparent); background-size: 1rem 1rem;">
                        </div>
                    </div>
                </div>
            }

            <div class="flex items-end justify-between flex-1 gap-2 sm:gap-4">
                <!-- Left: Filter Area -->
                <div class="w-full grid grid-cols-1 gap-4 md:grid-cols-4 xl:grid-cols-4 sm:gap-4 pb-2">
                    <div class="xs:col-span-4 sm:col-span-4 md:col-span-2 xl:col-span-2">
                        <MudForm class="flex-1">
                            <MudText Typo="Typo.h2" Class="mb-1 text-base font-semibold capitalize text-slate-800 dark:text-slate-100">Tìm kiếm</MudText>
                            <div class="relative">
                                <input type="text" id="search"
                                       class="border-black/10 dark:text-white/80 dark:placeholder:text-white/30 dark:border-darkborder dark:bg-dark dark:focus:border-white/30 focus:border-black/30 placeholder:text-black/50 border text-black text-sm rounded block w-full ltr:pl-3 rtl:pr-3 ltr:pr-7 rtl:pl-7 h-10 bg-[#f9fbfd] focus:ring-0 focus:outline-0"
                                       placeholder="Tìm kiếm..."
                                       required=""
                                       @bind-value="@_searchString"
                                       @bind-value:event="oninput"
                                       @onkeydown="async (e) => await OnInputKeyDownSearch(e, LoadData)">
                                <MudButton OnClick="LoadData" type="button" Class="absolute inset-y-0 flex items-center text-black ltr:right-0 rtl:left-0 ltr:pr-2 rtl:pl-2 dark:text-white/80">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-4 h-4">
                                        <path d="M11 2C15.968 2 20 6.032 20 11C20 15.968 15.968 20 11 20C6.032 20 2 15.968 2 11C2 6.032 6.032 2 11 2ZM11 18C14.8675 18 18 14.8675 18 11C18 7.1325 14.8675 4 11 4C7.1325 4 4 7.1325 4 11C4 14.8675 7.1325 18 11 18ZM19.4853 18.0711L22.3137 20.8995L20.8995 22.3137L18.0711 19.4853L19.4853 18.0711Z" fill="currentColor"></path>
                                    </svg>
                                </MudButton>
                            </div>
                        </MudForm>
                    </div>
                    <div class="xs:col-span-4 sm:col-span-4 md:col-span-1 xl:col-span-1">
                        <MudForm class="flex-1">
                            <MudText Typo="Typo.h2" Class="mb-1 text-base font-semibold capitalize text-slate-800 dark:text-slate-100">Trạng thái</MudText>
                            <select class="form-select" @bind="_searchStatusString" @bind:event="oninput" @onchange="OnStatusFilterChanged">
                                <option value="">Tất cả</option>
                                @foreach (var item in StatusList)
                                {
                                    <option value="@item">@item.GetDescription()</option>
                                }
                            </select>
                        </MudForm>
                    </div>

                    <div class="flex items-end justify-end xs:col-span-4 sm:col-span-4 md:col-span-1 xl:col-span-1 gap-2">
                        <div>
                            <MudButton Class="xs:w-full sm:w-auto md:w-auto btn flex items-center gap-1.5
                            bg-success border-success text-white hover:bg-success/[0.85]
                            hover:border-success/[0.85] text-nowrap" @onclick="@(e => OpenAddOrUpdateModal(null))">
                                <i class="ri-add-line"></i>
                                Thêm mới
                            </MudButton>
                        </div>
                    </div>
                </div>
            </div>

            <table id="example" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Ngày tạo</th>
                        <th>Mã loại</th>
                        <th>Tên phân loại</th>
                        <th>Trạng thái</th>
                        <th class="flex items-center gap-2">Tác vụ</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in MainModels.Select((v, i) => new { Data = v, Index = i }))
                    {
                        <tr>
                            <td>@(((Page - 1) * PageSize) + item.Index + 1)</td>
                            <td>@item.Data.date_created.ToString("dd/MM/yyyy")</td>
                            <td>@item.Data.code</td>
                            <td>@item.Data.name</td>
                            <td>@((MarkupString)item.Data.status.GetTrangThai())</td>
                            <td class="flex items-center gap-2">
                                <MudButton Class="transition-all duration-300 border btn-crud rounded-md btn text-purple border-purple hover:bg-purple hover:text-white"
                                           @onclick="@(e => OpenAddOrUpdateModal(item.Data))">
                                    <i class="ri-edit-line"></i>
                                </MudButton>
                                <MudButton Class="transition-all duration-300 border btn-crud rounded-md btn text-danger border-danger hover:bg-danger hover:text-white"
                                           @onclick="@(e => OpenDeleteModal(item.Data))">
                                    <i class="ri-delete-bin-line"></i>
                                </MudButton>
                            </td>
                        </tr>
                    }
                </tbody>
                
            </table>
        </div>
        <CoreAdminWeb.Shared.Components.Pagination Page="@Page" TotalPages="@TotalPages" PageSize="@PageSize" PageSizeChanged="OnPageSizeChanged" PageChanged="SelectedPage" />
    </div>
</div>
<!-- End All Card -->
@if (openDeleteModal)
{
    <div class="fixed inset-0 bg-black/80 z-[99999] overflow-y-auto dark:bg-dark/90">
        <div class="flex items-center justify-center min-h-screen px-4" @onclick="CloseDeleteModal">
            <div class="relative w-full max-w-lg p-0 my-8 overflow-hidden bg-white border rounded-lg border-black/10 dark:bg-darklight dark:border-darkborder" @onclick:stopPropagation>
                <div class="flex items-center justify-between px-5 py-3 bg-white border-b border-black/10 dark:bg-darklight dark:border-darkborder">
                    <MudText Typo="Typo.h5" Class="text-lg font-semibold text-slate-800 dark:text-slate-100">Xóa</MudText>
                    <MudButton Class="text-muted hover:text-black dark:hover:text-white" OnClick="CloseDeleteModal">
                        <svg class="w-5 h-5" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M24.2929 6.29289L6.29289 24.2929C6.10536 24.4804 6 24.7348 6 25C6 25.2652 6.10536 25.5196 6.29289 25.7071C6.48043 25.8946 6.73478 26 7 26C7.26522 26 7.51957 25.8946 7.70711 25.7071L25.7071 7.70711C25.8946 7.51957 26 7.26522 26 7C26 6.73478 25.8946 6.48043 25.7071 6.29289C25.5196 6.10536 25.2652 6 25 6C24.7348 6 24.4804 6.10536 24.2929 6.29289Z" fill="currentcolor" />
                            <path d="M7.70711 6.29289C7.51957 6.10536 7.26522 6 7 6C6.73478 6 6.48043 6.10536 6.29289 6.29289C6.10536 6.48043 6 6.73478 6 7C6 7.26522 6.10536 7.51957 6.29289 7.70711L24.2929 25.7071C24.4804 25.8946 24.7348 26 25 26C25.2652 26 25.5196 25.8946 25.7071 25.7071C25.8946 25.5196 26 25.2652 26 25C26 24.7348 25.8946 24.4804 25.7071 24.2929L7.70711 6.29289Z" fill="currentcolor" />
                        </svg>
                    </MudButton>
                </div>
                <div class="p-5">
                    <div class="text-black dark:text-muted">
                        <h3>Bạn có chắc chắn muốn xóa dữ liệu này không?</h3>
                    </div>
                    <div class="flex items-center justify-end gap-2">
                        <MudButton Class="transition-all duration-300 border btn-crud rounded-md btn text-danger border-danger hover:bg-danger hover:text-white" OnClick="CloseDeleteModal">Huỷ</MudButton>
                        <MudButton OnClick="async () => await OnDelete()" Class="transition-all duration-300 border btn-crud rounded-md btn text-purple border-purple hover:bg-purple hover:text-white">Xóa</MudButton>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@if (openAddOrUpdateModal)
{
    <div class="fixed inset-0 bg-black/80 z-[99999] overflow-y-auto dark:bg-dark/90">
        <div class="flex items-center justify-center min-h-screen px-4">
            <div class="relative w-full max-w-lg p-0 my-8 overflow-hidden bg-white border rounded-lg border-black/10 dark:bg-darklight dark:border-darkborder" @onclick:stopPropagation>
                <div class="flex items-center justify-between px-5 py-3 bg-white border-b border-black/10 dark:bg-darklight dark:border-darkborder">
                    <MudText Typo="Typo.h5" Class="text-lg font-semibold text-slate-800 dark:text-slate-100">@_titleAddOrUpdate</MudText>
                    <MudButton Class="text-muted hover:text-black dark:hover:text-white" OnClick="CloseAddOrUpdateModal">
                        <svg class="w-5 h-5" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M24.2929 6.29289L6.29289 24.2929C6.10536 24.4804 6 24.7348 6 25C6 25.2652 6.10536 25.5196 6.29289 25.7071C6.48043 25.8946 6.73478 26 7 26C7.26522 26 7.51957 25.8946 7.70711 25.7071L25.7071 7.70711C25.8946 7.51957 26 7.26522 26 7C26 6.73478 25.8946 6.48043 25.7071 6.29289C25.5196 6.10536 25.2652 6 25 6C24.7348 6 24.4804 6.10536 24.2929 6.29289Z" fill="currentcolor" />
                            <path d="M7.70711 6.29289C7.51957 6.10536 7.26522 6 7 6C6.73478 6 6.48043 6.10536 6.29289 6.29289C6.10536 6.48043 6 6.73478 6 7C6 7.26522 6.10536 7.51957 6.29289 7.70711L24.2929 25.7071C24.4804 25.8946 24.7348 26 25 26C25.2652 26 25.5196 25.8946 25.7071 25.7071C25.8946 25.5196 26 25.2652 26 25C26 24.7348 25.8946 24.4804 25.7071 24.2929L7.70711 6.29289Z" fill="currentcolor" />
                        </svg>
                    </MudButton>
                </div>
                <div class="p-5">
                    <EditForm Model="@SelectedItem" OnValidSubmit="OnValidSubmit">
                        <div class="text-black dark:text-muted">
                            <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-2 xl:grid-cols-2 py-2">
                                <div class="space-y-2 xs:col-span-2 sm:col-span-1 md:col-span-1 xl:col-span-1">
                                    <label>Mã loại</label>
                                    <input type="text" class="form-input" @bind-value="@SelectedItem.code" Label="Nhập mã loại" />
                                </div>
                                <div class="space-y-2 xs:col-span-2 sm:col-span-1 md:col-span-1 xl:col-span-1">
                                    <label>Ngày tạo</label>
                                    <input type="text" class="form-input" readonly value="@SelectedItem.date_created.ToString("dd/MM/yyyy")" Label="Ngày tạo" />
                                </div>
                                <div class="space-y-2 xs:col-span-2 sm:col-span-2 md:col-span-2 xl:col-span-2">
                                    <label>Tên phân loại</label>
                                    <input type="text" class="form-input" @bind-value="@SelectedItem.name" Label="Nhập tên phân loại" />
                                </div>
                                <div class="space-y-2 xs:col-span-2 sm:col-span-2 md:col-span-2 xl:col-span-2">
                                    <label>Ghi chú</label>
                                    <textarea rows="2" class="form-input form-textarea" @bind="@SelectedItem.description" placeholder="Nhập ghi chú"></textarea>
                                </div>

                                <div class="space-y-2 xs:col-span-2 sm:col-span-2 md:col-span-2 xl:col-span-2">
                                    <label>Trạng thái</label>
                                    <select class="form-select" @bind-value="@SelectedItem.status" @bind-value:event="onchange">
                                        @foreach (var item in StatusList)
                                        {
                                            <option value="@item">@item.GetDescription()</option>
                                        }
                                    </select>
                                </div>

                                <div class="hidden space-y-2 md:col-span-2">
                                    <label>Sắp xếp</label>
                                    <input type="number" class="form-input" @bind-value="@SelectedItem.sort" Label="Sắp xếp" min="0" max="100" />
                                </div>
                            </div>
                        </div>
                        <div class="flex items-center justify-end gap-2 py-4">
                            <MudButton Class="transition-all duration-300 border btn-crud rounded-md btn text-danger border-danger hover:bg-danger hover:text-white" OnClick="CloseAddOrUpdateModal">
                                <i class="ri-close-line"></i>
                                Huỷ
                            </MudButton>
                            <MudButton Class="transition-all duration-300 border btn-crud rounded-md btn text-purple border-purple hover:bg-purple hover:text-white"
                                       OnClick="OnValidSubmit">
                                <i class="ri-save-line"></i>
                                Lưu
                            </MudButton>
                        </div>
                    </EditForm>
                </div>
            </div>
        </div>
    </div>
}
