@using CoreAdminWeb.Model
<div class="grid grid-cols-1 md:grid-cols-2 gap-2 items-center mb-3">
    <div class="flex items-center gap-2">
        <span style="min-width:90px;">11. Sản PK:</span>
        <input type="text" class="form-input border border-gray-300 rounded-md px-3 py-1 text-sm" @bind-value="@SelectedKhamSucKhoeSanPhuKhoa.ket_qua" readonly="@(onReadonly || !onReadonly && !onBSSanPhuKhoa)" />
        <BlazoredTypeahead EnableDropDown="true"
                           ShowDropDownOnFocus="true"
                           MinimumLength="0"
                           TItem="PhanLoaiSucKhoeModel"
                           TValue="PhanLoaiSucKhoeModel"
                           SearchMethod="LoadPhanLoaiSucKhoeDataHandler"
                           @bind-Value="@SelectedKhamSucKhoeSanPhuKhoa.phan_loai"
                           placeholder="Chọn phân loại"
                           class="form-select"
                           style="width:120px;"
                           Disabled="@(onReadonly || !onReadonly && !onBSSanPhuKhoa)">
            <SelectedTemplate Context="item">
                @item.name
            </SelectedTemplate>
            <ResultTemplate Context="item">
                @item.name
            </ResultTemplate>
            <NotFoundTemplate Context="item">
                Không tìm thấy dữ liệu
            </NotFoundTemplate>
        </BlazoredTypeahead>
    </div>
</div>

@code {
    [Parameter]
    public KhamSucKhoeSanPhuKhoaModel SelectedKhamSucKhoeSanPhuKhoa { get; set; } = new KhamSucKhoeSanPhuKhoaModel();
    [Parameter]
    public bool onReadonly { get; set; } = false;
    [Parameter]
    public bool onBSSanPhuKhoa { get; set; } = false;
    [Parameter]
    public Func<string?, Task<IEnumerable<PhanLoaiSucKhoeModel>>>? LoadPhanLoaiSucKhoeData { get; set; }

    private async Task<IEnumerable<PhanLoaiSucKhoeModel>> LoadPhanLoaiSucKhoeDataHandler(string? search)
    {
        if (LoadPhanLoaiSucKhoeData != null)
        {
            return await LoadPhanLoaiSucKhoeData.Invoke(search);
        }
        return Enumerable.Empty<PhanLoaiSucKhoeModel>();
    }
}
