@using CoreAdminWeb.Helpers
@using CoreAdminWeb.Model
@using CoreAdminWeb.Model.KhamSucKhoes
<div class="grid grid-cols-1 md:grid-cols-4 gap-4 mb-2 items-end">
    <div>
        <label class="block text-sm mb-1" for="chieu-cao">Chiều cao (cm):</label>
        <input id="chieu-cao" type="text" class="form-input border border-gray-300 rounded-md px-3 py-1 text-right text-sm" @bind-value="@SelectedKhamSucKhoeTheLuc.chieu_cao" readonly="@(onReadonly || !onReadonly && !onBS)" />
    </div>
    <div>
        <label class="block text-sm mb-1" for="can-nang">Cân nặng (kg):</label>
        <input id="can-nang" type="text" class="form-input border border-gray-300 rounded-md px-3 py-1 text-right text-sm" @bind-value="@SelectedKhamSucKhoeTheLuc.can_nang" readonly="@(onReadonly || !onReadonly && !onBS)" />
    </div>
    <div>
        <label class="block text-sm mb-1" for="bmi">BMI:</label>
        <input id="bmi" type="text" class="form-input border border-gray-300 rounded-md px-3 py-1 text-right text-sm" @bind-value="@SelectedKhamSucKhoeTheLuc.bmi" readonly="@(onReadonly || !onReadonly && !onBS)" />
    </div>
    <div>
        <label class="block text-sm mb-1" for="abi">ABI:</label>
        <input id="abi" type="text" class="form-input border border-gray-300 rounded-md px-3 py-1 text-right text-sm" @bind-value="@SelectedKhamSucKhoeTheLuc.mach" readonly="@(onReadonly || !onReadonly && !onBS)" />
    </div>
    <div>
        <label class="block text-sm mb-1" for="huyet-ap">Huyết áp (mmHg):</label>
        <input id="huyet-ap" type="text" class="form-input border border-gray-300 rounded-md px-3 py-1 text-right text-sm" @bind-value="@SelectedKhamSucKhoeTheLuc.huyet_ap" readonly="@(onReadonly || !onReadonly && !onBS)" />
    </div>
    <div>
        <label class="block text-sm mb-1" for="nhip-tho">Nhịp thở (lần/phút):</label>
        <input id="nhip-tho" type="text" class="form-input border border-gray-300 rounded-md px-3 py-1 text-right text-sm" @bind-value="@SelectedKhamSucKhoeTheLuc.nhip_tho" readonly="@(onReadonly || !onReadonly && !onBS)" />
    </div>
</div>
<div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-2 items-end">
    <div>
        <label class="block text-sm mb-1" for="phan-loai-the-luc">Phân loại thể lực:</label>
        <Select2 IdSelector="c => c != null ? c.id.ToString() : String.Empty"
                 TextSelector="c => c != null ? c.name : String.Empty"
                 FilterFunction="LoadPhanLoaiSucKhoeDataHandler"
                 GetElementById="async (items, id, token) => Select2Helper.GetElementByIdGeneric<PhanLoaiSucKhoeModel, int>(items, id, c => c.id) ?? new PhanLoaiSucKhoeModel()"
                 Datasource="PhanLoaiSucKhoes"
                 Value="@(Select2Helper.GetCurrentSelectionGeneric<PhanLoaiSucKhoeModel>(SelectedKhamSucKhoeTheLuc.phan_loai, 15, SelectedPhanLoaiSucKhoes))"
                 OnValueChanged="@(e => Select2Helper.OnSelect2ChangedGeneric<PhanLoaiSucKhoeModel>(e, v => SelectedKhamSucKhoeTheLuc.phan_loai = v, 15, SelectedPhanLoaiSucKhoes))"
                 Multiselect="false"
                 class="@(onReadonly || !onReadonly && !onBS ? "select2-disabled" : "")" />
    </div>
</div>

@code {
    [Parameter]
    public KhamSucKhoeTheLucModel SelectedKhamSucKhoeTheLuc { get; set; } = new KhamSucKhoeTheLucModel();
    [Parameter]
    public bool onReadonly { get; set; } = false;
    [Parameter]
    public bool onBS { get; set; } = false;
    [Parameter]
    public Dictionary<int, List<PhanLoaiSucKhoeModel>> SelectedPhanLoaiSucKhoes { get; set; } = new Dictionary<int, List<PhanLoaiSucKhoeModel>>();
    [Parameter]
    public List<PhanLoaiSucKhoeModel> PhanLoaiSucKhoes { get; set; } = new();
    [Parameter]
    public Func<IEnumerable<PhanLoaiSucKhoeModel>, string?, CancellationToken, Task<List<PhanLoaiSucKhoeModel>>>? LoadPhanLoaiSucKhoeData { get; set; }

    private async Task<List<PhanLoaiSucKhoeModel>> LoadPhanLoaiSucKhoeDataHandler(IEnumerable<PhanLoaiSucKhoeModel> allItems, string filter, CancellationToken token)
    {
        if (LoadPhanLoaiSucKhoeData != null)
        {
            return await LoadPhanLoaiSucKhoeData.Invoke(allItems, filter, token);
        }
        return new List<PhanLoaiSucKhoeModel>();
    }
}
