@page "/admin/ho-so-kham-suc-khoe-tt32"
@using CoreAdminWeb.Commons.Helpers
@using CoreAdminWeb.Commons.Utils
@using CoreAdminWeb.Extensions
@using CoreAdminWeb.Helpers
@using CoreAdminWeb.Model
@using CoreAdminWeb.Model.User
@using CoreAdminWeb.Services.BaseServices
@using CoreAdminWeb.Shared.Base
@using CoreAdminWeb.Shared.Components

@inherits BlazorCoreBase
@layout Shared.Layout.AdminLayout

<PageHeader Title="Hồ sơ KSK - TT32" pTitle="Hồ sơ KSK - TT32"></PageHeader>

<!-- Start All Card -->
<div class="flex flex-col gap-4 min-h-[calc(100vh-212px)]">
    <div class="grid grid-cols-1 gap-4">
        <div class="card">
            @if (IsLoading)
            {
                <div class="flex flex-col items-center justify-center gap-3">
                    <div class="w-full h-4 rounded-full bg-gray-200">
                        <div class="h-4 rounded-full bg-success animate-progress"
                             style="background-image: linear-gradient(45deg,hsla(0,0%,100%,.15) 25%,transparent 0,transparent 50%,hsla(0,0%,100%,.15) 0,hsla(0,0%,100%,.15) 75%,transparent 0,transparent); background-size: 1rem 1rem;">
                        </div>
                    </div>
                </div>
            }

            <div class="flex items-end justify-between flex-1 gap-2 sm:gap-4">
                <!-- Left: Filter Area -->
                <div class="w-full grid grid-cols-1 gap-4 md:grid-cols-4 xl:grid-cols-4 sm:gap-4 pb-2">
                    <div class="xs:col-span-4 sm:col-span-4 md:col-span-1 xl:col-span-1">
                        <MudText Typo="Typo.h2" Class="mb-1 text-base font-semibold capitalize text-slate-800 dark:text-slate-100">Ngày</MudText>
                        <div class="flex items-center gap-2 sm:gap-4">
                            <input type="text"
                                class="form-input date-picker w-1/2"
                                placeholder="Từ ngày"
                                value="@(_fromDate?.ToString("dd/MM/yyyy"))"
                                @onchange="@(e => OnDateChanged(e, nameof(_fromDate), true))" />
                            <span class="mx-2 flex items-center text-gray-500">-</span>
                            <input type="text"
                                class="form-input date-picker w-1/2"
                                placeholder="Đến ngày"
                                value="@(_toDate?.ToString("dd/MM/yyyy"))"
                                @onchange="@(e => OnDateChanged(e, nameof(_toDate), true))" />
                        </div>
                    </div>
                    <div class="xs:col-span-4 sm:col-span-4 md:col-span-1 xl:col-span-1">
                        <MudText Typo="Typo.h2" Class="mb-1 text-base font-semibold capitalize text-slate-800 dark:text-slate-100">Tên công ty</MudText>
                        <BlazoredTypeahead EnableDropDown="true"
                                        ShowDropDownOnFocus="true"
                                        MinimumLength="0"
                                        TItem="CongTyModel"
                                        TValue="CongTyModel"
                                        SearchMethod="LoaCongTyFilterData"
                                        Value="_selectedCongTyFilter"
                                        ValueExpression="@(() => _selectedCongTyFilter)"
                                        ValueChanged="OnCongTyFilterChanged"
                                        placeholder="Chọn công ty"
                                        Class="form-select">
                            <SelectedTemplate Context="item">
                                @item.name
                            </SelectedTemplate>
                            <ResultTemplate Context="item">
                                @item.name
                            </ResultTemplate>
                            <NotFoundTemplate Context="item">
                                Không tìm thấy dữ liệu
                            </NotFoundTemplate>
                        </BlazoredTypeahead>
                    </div>
                    <div class="xs:col-span-4 sm:col-span-4 md:col-span-1 xl:col-span-1">
                        <MudText Typo="Typo.h2" Class="mb-1 text-base font-semibold capitalize text-slate-800 dark:text-slate-100">Mã hồ sơ</MudText>
                        <BlazoredTypeahead EnableDropDown="true"
                                        ShowDropDownOnFocus="true"
                                        MinimumLength="0"
                                        TItem="UserModel"
                                        TValue="UserModel"
                                        SearchMethod="LoadBenhNhanFilterData"
                                        Value="_benhNhanFilter"
                                        ValueExpression="@(() => _benhNhanFilter)"
                                        ValueChanged="OnBenhNhanFilterChanged"
                                        placeholder="Mã khách hàng"
                                        Class="form-select">
                            <SelectedTemplate Context="item">
                                @item.ma_benh_nhan    
                            </SelectedTemplate>
                            <ResultTemplate Context="item">
                                @item.ma_benh_nhan
                            </ResultTemplate>
                            <NotFoundTemplate Context="item">
                                Không tìm thấy dữ liệu
                            </NotFoundTemplate>
                        </BlazoredTypeahead>
                    </div>

                    <div class="flex items-end justify-end xs:col-span-4 sm:col-span-4 md:col-span-1 xl:col-span-1 gap-2">
                        @* <div> *@
                            <MudButton Class="xs:w-full sm:w-auto md:w-auto btn flex items-center gap-1.5
                            bg-success border-success text-white hover:bg-success/[0.85]
                            hover:border-success/[0.85] text-nowrap" @onclick="@(e => LoadData())">
                                <i class="ri-search-line"></i>
                                Thống kê
                            </MudButton>
                            <MudButton Class="xs:w-full sm:w-auto md:w-auto btn flex items-center gap-1.5
                            bg-info border-info text-white hover:bg-info/[0.85] hover:border-info/[0.85]
                            text-nowrap">
                                <i class="ri-file-excel-2-fill"></i>
                                Xuất excel
                            </MudButton>
                        @* </div> *@
                    </div>
                </div>
            </div>

            <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
                <table id="example" class="display" style="width:100%">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Mã KH</th>
                            <th>Tên KH</th>
                            <th>Mã điều trị</th>
                            <th>Ngày khám</th>
                            <th>Công ty</th>
                            <th>Phân loại sức khỏe</th>
                            <th>Các bệnh tật</th>
                            <th>Đề nghị</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in MainModels.Select((v, i) => new { Data = v, Index = i }))
                        {
                            <tr @onclick="@(async () => await OpenDetailModal(item.Data))">
                                <td>@(((Page - 1) * PageSize) + item.Index + 1)</td>
                                <td>@item.Data.ma_benh_nhan</td>
                                <td>@item.Data.last_name @item.Data.first_name</td>
                                <td>@item.Data.ma_luot_kham</td>
                                <td>@item.Data.ngay_kham?.ToString("dd/MM/yyyy")</td>
                                <td>@item.Data.cong_ty</td>    
                                <td>@item.Data.phan_loai_suc_khoe</td>    
                                <td class="max-w-96 text-wrap overflow-hidden">@item.Data.benh_tat_ket_luan</td>    
                                <td class="max-w-96 text-wrap overflow-hidden">@item.Data.de_nghi</td>    
                            </tr>
                        }
                    </tbody>

                </table>
            </div>
        </div>
        <CoreAdminWeb.Shared.Components.Pagination Page="@Page" TotalPages="@TotalPages" PageSize="@PageSize" PageSizeChanged="OnPageSizeChanged" PageChanged="SelectedPage" />
    </div>
</div>

@if (openDetailModal)
{
    <div class="fixed inset-0 bg-black/80 z-[99999] overflow-y-auto dark:bg-dark/90">
        <div class="flex items-center justify-center min-h-screen px-4" @onclick="CloseDetailModal">
            <div class="relative w-full max-w-5xl p-0 my-8 overflow-hidden bg-white border rounded-lg border-black/10 dark:bg-darklight dark:border-darkborder" @onclick:stopPropagation>
                <div class="flex items-center justify-between px-5 py-3 bg-white border-b border-black/10 dark:bg-darklight dark:border-darkborder">
                    <MudText Typo="Typo.h5" Class="text-lg font-semibold text-slate-800 dark:text-slate-100">Sổ khám sức khỏe định kỳ</MudText>
                    <MudButton Class="text-muted hover:text-black dark:hover:text-white" OnClick="CloseDetailModal">
                        <svg class="w-5 h-5" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M24.2929 6.29289L6.29289 24.2929C6.10536 24.4804 6 24.7348 6 25C6 25.2652 6.10536 25.5196 6.29289 25.7071C6.48043 25.8946 6.73478 26 7 26C7.26522 26 7.51957 25.8946 7.70711 25.7071L25.7071 7.70711C25.8946 7.51957 26 7.26522 26 7C26 6.73478 25.8946 6.48043 25.7071 6.29289C25.5196 6.10536 25.2652 6 25 6C24.7348 6 24.4804 6.10536 24.2929 6.29289Z" fill="currentcolor" />
                            <path d="M7.70711 6.29289C7.51957 6.10536 7.26522 6 7 6C6.73478 6 6.48043 6.10536 6.29289 6.29289C6.10536 6.48043 6 6.73478 6 7C6 7.26522 6.10536 7.51957 6.29289 7.70711L24.2929 25.7071C24.4804 25.8946 24.7348 26 25 26C25.2652 26 25.5196 25.8946 25.7071 25.7071C25.8946 25.5196 26 25.2652 26 25C26 24.7348 25.8946 24.4804 25.7071 24.2929L7.70711 6.29289Z" fill="currentcolor" />
                        </svg>
                    </MudButton>
                </div>

                <PDFTemplatePrint RenderSignature="RenderSignature"
                    SelectedItem="SelectedItem"
                    SelectedKhamSucKhoeChuyenKhoa="SelectedKhamSucKhoeChuyenKhoa"
                    SelectedKhamSucKhoeKetLuan="SelectedKhamSucKhoeKetLuan"
                    SelectedKhamSucKhoeKetQuaCanLamSangs="SelectedKhamSucKhoeKetQuaCanLamSangs"
                    SelectedKhamSucKhoeNgheNghiep="SelectedKhamSucKhoeNgheNghiep"
                    SelectedKhamSucKhoeSanPhuKhoa="SelectedKhamSucKhoeSanPhuKhoa"
                    SelectedKhamSucKhoeTheLuc="SelectedKhamSucKhoeTheLuc"
                    SelectedKhamSucKhoeTienSu="SelectedKhamSucKhoeTienSu"
                    _logoPath="@_logoPath"
                    _profileImageUrl="@_profileImageUrl" />

                <div class="p-5 flex items-center justify-end gap-2 py-4">
                    <MudButton Class="transition-all duration-300 border btn-crud rounded-md btn text-danger border-danger hover:bg-danger hover:text-white" OnClick="DownloadPDF">Tải PDF</MudButton>
                    <MudButton Class="transition-all duration-300 border btn-crud rounded-md btn text-purple border-purple hover:bg-purple hover:text-white" OnClick="PrintPDF">In PDF</MudButton>
                    <MudButton Class="transition-all duration-300 border btn-crud rounded-md btn text-muted hover:text-black dark:hover:text-white" OnClick="CloseDetailModal">Đóng</MudButton>
                </div>
            </div>
        </div>
    </div>
}